/* mobile first styling */
body {
  background: #161b22;
  display: grid;
  color: #f0f6fc;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji"; 
}

header {
  background: #161b22;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: -0.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100%;
  min-width: 100%;
}

header a {
  color: #f0f6fc;
}

header a:hover {
  color: #30363d;
}

.profile {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
}

.profile-img {
  display: inline-flex;
  grid-column: span 1;
  width: 100%;
  border-radius: 50%;
  border-style: solid;
  border-color: #30363d;
  border-width: 0.1rem;
  margin: 0.5rem;
}

.profile-div {
  display: inline;
  align-items: center;
  grid-column: span 5;
  padding: 2rem;
}

.profile-div a{
  text-decoration: none;
}

.username {
  display: flex;
  color: #f0f6fc;
  font-size: x-large;
  margin: auto;
}

.username:hover {
  color: #30363d;
}

.login {
  display: flex;
  color: #8B949E;
  font-size: large;
  margin: auto;
}

.login:hover {
  color: #30363d;
}

.repo-chart {
  display: flex;
  width: 20rem;
  margin: 1rem;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0.5rem;
}

.project-container h2 {
  grid-column: span 4;
  display: flex;
  color: #8B949E;
  font-size: large;
  margin-bottom: 0.5rem;
  justify-content: center;
}

.repo-div {
  display: grid;
  grid-column: span 4;
  color: #8B949E;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 5px;
  border-width: 0.1rem;
  border-color: #30363d;
  border-style: solid;
}

.repo-a {
  color: #388bfd;
  text-decoration: none;
  padding-bottom: 0.5rem;
}

.repo-p {
  margin: 0px;
}


/* styling for tablet */
@media (min-width:668px) {
  body {
    background: #0d1117;
    grid-template-columns: repeat(4, 1fr);
  }

  header {
    visibility: visible;
    grid-column: span 4;
  }

  .profile {
    grid-column: span 3;
  }

  .repo-chart {
    grid-column: span 1;
  }

  .project-container {
    grid-column: span 4;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .repo-div {
    grid-column: span 2;
  }
}

/* specific styling for desktop */
@media (min-width:1025px) {
  .project-container {
    grid-column: span 4;
  }
}