body {
	margin: 0 0;
	padding: 0 0;
	font-family: "Inconsolata", monospace;
	background-image: url(./images/pexels-photo-5701851.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}

/* Grid */
/*  PHONE  */

.container {
	display: grid;
	grid-template-rows: repeat(6, 1fr);
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 25px;
	grid-template-areas:
		"img img img img img img img img img img img img"
		"img img img img img img img img img img img img"
		"projects projects projects projects projects projects projects projects projects projects projects projects"
		"projects projects projects projects projects projects projects projects projects projects projects projects"
		"projects projects projects projects projects projects projects projects projects projects projects projects"
		"projects projects projects projects projects projects projects projects projects projects projects projects"
		"projects projects projects projects projects projects projects projects projects projects projects projects"
		"projects projects projects projects projects projects projects projects projects projects projects projects"
		"projects projects projects projects projects projects projects projects projects projects projects projects"
		"projects projects projects projects projects projects projects projects projects projects projects projects"
		"chart chart chart chart chart chart chart chart chart chart chart chart"
		"chart chart chart chart chart chart chart chart chart chart chart chart"
		"chart chart chart chart chart chart chart chart chart chart chart chart"
		"chart chart chart chart chart chart chart chart chart chart chart chart"
		"chart chart chart chart chart chart chart chart chart chart chart chart";
}

.userimg {
	grid-area: img;
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 1em 0.5em;
}

img {
	width: 95%;
	border: 1px solid black;
	border-radius: 2%;
}

.userimg h3 {
	color: rgb(53, 80, 45);
	font-size: 5vw;
	text-shadow: 0 0 1px rgb(25, 36, 14);
}

.chart {
	grid-area: chart;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding: 1em 1em;
}

.projectlist {
	grid-area: projects;
	display: grid;
	align-items: center;
	justify-content: start;
	grid-template-columns: 1fr;
	margin: 10px 0px;
	grid-gap: 0px;
	padding: 1px 1px;
	font-weight: 400;
}

.repon {
	border: 1px solid rgba(151, 184, 148, 0.596);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-evenly;
	font-size: 2.5vw;
	padding: 0 0 0 5px;
	height: 80%;
	margin: 0 1%;
	background-color: rgba(217, 223, 214, 0.63);
	backdrop-filter: blur(25px);
	border-radius: 1%;
}

#repoiconname {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: transparent;
	font-weight: bold;
}
#repoiconname i {
	padding-top: 2%;
	padding-right: 2%;
	opacity: 95%;
}

#textrepo {
	font-size: 4.5vw;
	color: rgb(53, 80, 45);
	text-shadow: 0 0 1px rgb(25, 36, 14);
	text-decoration: none;
	white-space: nowrap;
}

#textrepo:hover {
	text-decoration: underline;
}

.content {
	display: flex;
	flex-direction: row;
	margin: 0 0 0 0.5%;
}

#push {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: transparent;
	align-items: center;
	white-space: nowrap;
	margin: 0 5% 0 0;
}

#push i {
	padding: 0 1.5% 0 0;
	opacity: 95%;
	font-size: 2vw;
}

#repobranch {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: transparent;
	align-items: center;
	white-space: nowrap;
	margin: 0 5% 0 0;
}

#repobranch i {
	padding: 0 1.5% 0 0;
	padding-right: 7%;
	opacity: 95%;
	font-size: 2vw;
}

#commentss {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: transparent;
	align-items: center;
	white-space: nowrap;
	margin: 0 5%;
}

#commentss i {
	padding-right: 2%;
	font-size: 1.7vw;
}

#commitss {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: transparent;
	align-items: center;
	white-space: nowrap;
	margin: 0 5%;
}

#commitss i {
	padding-right: 2%;
	font-size: 2vw;
}

@media (min-width: 992px) {
	.container {
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(6, 1fr);
		grid-template-areas:
			"img img img space  space space space space space chart chart chart"
			"img img img space  space space space space space chart chart chart"
			"projects projects projects projects projects projects projects projects projects projects projects projects"
			"projects projects projects projects projects projects projects projects projects projects projects projects"
			"projects projects projects projects projects projects projects projects projects projects projects projects"
			"projects projects projects projects projects projects projects projects projects projects projects projects"
			"projects projects projects projects projects projects projects projects projects projects projects projects"
			"projects projects projects projects projects projects projects projects projects projects projects projects"
			"projects projects projects projects projects projects projects projects projects projects projects projects"
			"projects projects projects projects projects projects projects projects projects projects projects projects"
			"projects projects projects projects projects projects projects projects projects projects projects projects"
			"projects projects projects projects projects projects projects projects projects projects projects projects";
	}

	body {
		margin: 0 4%;
	}

	.userimg {
		grid-area: img;
		flex-direction: column;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		padding: 1em 0 0 0;
	}

	.userimg h3 {
		font-size: 3vw;
	}

	.space {
		grid-area: space;
	}

	.projectinfo {
		font-size: 1.2vw;
	}

	.projectlist {
		margin: 0 0;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1;
		grid-gap: 50px;
	}

	.projectlist div {
		height: 90%;
		font-size: 1.3vw;
	}

	.chart {
		justify-content: flex-start;
		padding: 1em 0em 0 0;
	}

	.repon {
		border: 1px solid rgba(151, 184, 148, 0.596);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-evenly;
		font-size: 2.5vw;
		padding: 0 0 0 35px;
		height: 60%;
		margin: 0 1%;
		background-color: rgba(217, 223, 214, 0.63);
		backdrop-filter: blur(25px);
		border-radius: 1%;
	}

	#textrepo {
		font-size: 2.4vw;
	}

	#push i {
		padding: 0 1.5% 0 0;
		opacity: 95%;
		font-size: 1vw;
	}

	#repobranch i {
		padding: 0 1.5% 0 0;
		padding-right: 7%;
		opacity: 95%;
		font-size: 1vw;
	}

	#commentss i {
		padding-right: 2%;

		font-size: 1vw;
	}

	#commitss i {
		padding-right: 2%;
		font-size: 1vw;
	}
}
