body {
  width: 100vh;
  height: 100%;
  background: linear-gradient(to left, #B6766D, #EBC8C4);
  font-family: poppins;
  font-weight: 300;
}

.myDiv {
  position: absolute;
  top: 500px;
  left: 100px;
   /* padding: 600px 800px; Utöka första vid fler reops */
   width: 90vw;
   height: 230rem;
   background: linear-gradient(100deg, #f7e9e7, #B6766D);
   z-index: -1;
}

.header {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 100px;
}

.header-text {
  display: flex;
  flex-direction: column;
  line-height: 10px;
  font-size: x-large;
  color: #3d1611;
}

.header-text span {
  color: white;
  text-shadow:  4px 5px 8px rgba(0, 0, 0, 0.308);
}

.header img {
  border-radius: 50%;
  width: 300px;
  border: solid .5em #BE847C;
	padding: .5em;

}

.header img:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: colorChange;
  animation-duration: 4s; 
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  grid-gap: 5px;
  padding: 20px;
  margin: 150px;
  width: 80vw;
  /* border: 1px solid black; */

}

.technigo-repos {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  align-items: center;
  background-color: #E0B8B3;
  min-width: 200px;
  max-width: 400px;
  width: 80%;
  color: black;
  gap: 1px;
}

  .info {
    line-height: 20px;
    margin: 20px;
  }

  .info span {
    font-weight: 400;
  }

  #description, #repoName {
    color: #3d1611;
  }

  .netlify-link {
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.192);
    border-radius: 30px;
  }

  .netlify-link:hover {
    box-shadow: 6px 6px 20px rgba(122,122,122,0.212);
  animation-name: colorChange;
  animation-duration: 5s; 
  }

  .repo-link {
    padding: 20px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.37);

  }

 .repo-link:hover {
  
  box-shadow: 6px 6px 20px rgba(122,122,122,0.212);
  animation-name: colorChange;
  animation-duration: 5s; 
}

a:visited, a:link {
  color: #3d1611;
  text-decoration: none;
}

.chart-container {
  position: absolute;
  left: 0;
  right: 0;
  margin:auto;
  width: 600px;
  
}

@keyframes colorChange {
  0%   {background-color: #f7f1f0;}
  25%  {background-color: #e1c8c4;}
  50%  {background-color: #cb9f98;}
  100% {background-color: #BE847C;} 
}

/* MOBILE LANDSCAPE */

@media (max-width:667px) {
  body {
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
    margin: 0;
  }

  .myDiv {
    left: 0;
    width: 100vw;
  }

  .container {
    width: 90vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 110px 0;
  }

  .header {
    flex-direction: column;
  }

  .header img {
    width: 200px;
    margin-top: -80px;
  }

  .header-text {
    line-height: 30px;
    margin-top: -60px;
    font-size: 120%;
    text-align: center;
  }

  .header-text h1 {
    line-height: 10px;
    margin: 20px;
  }

  .header p {
    margin: 10px;
  }

  .chart-container {
    width: 400px;
  }
}

/* TABLET LANDSCAPE */
@media (min-width:668px) and (max-width:1024px) {
  body {
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
    margin: 0;
  }

  .myDiv {
    left: 0;
    width: 100vw;;
  }

  .container {
    width: 95vw;
    align-items: center;
    justify-content: center;
    margin: 110px 0;
    gap: 20px;
  }

  .technigo-repos {
    width: 90vw;
  }

  .header {
    flex-direction: column;
  }

  .header img {
    width: 200px;
    margin-top: -80px;
  }

  .header-text {
    line-height: 30px;
    margin-top: -60px;
    font-size: 120%;
    text-align: center;
  }

  .header-text h1 {
    line-height: 10px;
    margin: 20px;
  }

  .header p {
    margin: 10px;
  }

  .chart-container {
    width: 600px;
  }
}