*/ {
  box-sizing: border-box;
}

body {
  background: #fff;
  margin: 0;
  font-family: 'Nunito Sans';
  letter-spacing: 0.8px;
}

header {
  background-color: #1a1e22;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
}

.header-title {
  font-family: 'Bebas Neue';
  letter-spacing: 5px;
  font-size: 30px;
}

.user-section p {
  margin: 0px;
  height: 30px;
  font-size: 18px;
  color: #fff;
}

.user-profile {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.swap-on-hover a {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swap-on-hover img {
  border-radius: 100%;
  max-height: 250px;
  display: block;
  border: 3px solid #6440c5;
  position: absolute;
  margin-top: 45vh;
  box-shadow: rgba(49, 46, 240, 0.4) 4px 4px, rgba(61, 33, 221, 0.3) 8px 8px,
    rgba(35, 11, 141, 0.2) 13px 13px, rgba(33, 17, 104, 0.1) 18px 18px,
    rgba(39, 22, 117, 0.05) 23px 23px;
}

.swap-on-hover .front-image {
  z-index: 9999;
  transition: opacity 0.5s linear;
  cursor: pointer;
}

.swap-on-hover:hover .front-image {
  opacity: 0;
}

.icon-container {
  display: flex;
}

.github-icon {
  height: 50px;
  position: relative;
  border: none;
}

.repo-item {
  background-color: #fff;
  padding: 15px 20px;
  margin: 30px 40px;
  border: 3px solid #1d2f6f;
  text-align: center;
  box-shadow: rgba(49, 46, 240, 0.4) 5px 5px, rgba(61, 33, 221, 0.3) 10px 10px,
    rgba(35, 11, 141, 0.2) 15px 15px, rgba(33, 17, 104, 0.1) 20px 20px,
    rgba(39, 22, 117, 0.05) 25px 25px;
}

h3 a {
  text-decoration: none;
  color: black;
  font-size: 30px;
}

h2 {
  color: #fff;
}

.project-title {
  color: #1d2f6f;
  padding-top: 60px;
  margin-top: 520px;
  text-align: center;
  font-family: 'Bebas Neue';
  font-size: 40px;
}

p {
  color: black;
  font-size: 20px;
}

h3 a:hover {
  color: #a170da;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  padding: 15px;
  border: 1px solid #888;
  width: 80%;
}

.modal-message {
  color: #1a1e22;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*Button to open the modal and read latest commit*/
.modal-button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #9f5aff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: 'JetBrains Mono', monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.modal-button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.modal-button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.modal-button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.chart-title {
  color: #1d2f6f;
  text-align: center;
  font-family: 'Bebas Neue';
  font-size: 40px;
  margin-top: 60px;
}

.chart-container p {
  text-align: center;
  padding: 20px;
}

.signature {
  background: #1a1e22;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  text-align: center;
  margin-top: 50px;
}

.signature h3 {
  font-family: 'Nothing You Could Do';
}

.signature p {
  font-size: 12px;
  color: #fff;
}

@media (min-width: 750px) and (max-width: 1024px) {
  header {
    height: 55%;
  }

  .header-title {
    font-size: 50px;
  }

  .project-title {
    padding-top: 100px;
    font-size: 40px;
  }

  .projects-container {
    display: grid;
    grid-template-columns: auto auto;
  }

  .repo-item {
    margin: 20px 30px;
    padding: 5px 10px;
  }

  .chart-title {
    font-size: 25px;
    padding: 20px;
  }

  .chart-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .chart-canvas {
    max-width: 400px;
    max-height: 400px;
    justify-content: center;
    align-items: center;
  }

  .chart-container p {
    padding: 20px;
    font-size: 18px;
  }
}

@media (min-width: 1025px) {
  header {
    height: 57%;
  }

  .projects-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .header-title {
    font-size: 50px;
  }

  .project-title {
    padding-top: 100px;
    font-size: 50px;
  }

  .chart-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .chart-title {
    padding: 20px;
  }

  .chart-canvas {
    max-width: 400px;
    max-height: 400px;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .chart-container p {
    text-align: center;
    padding: 50px;
  }
}
