* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #ffece9;
  font-family: "Source Serif Pro", serif;
  background-image: linear-gradient(#ccccff, #ffff);
}

header {
  display: grid;
  justify-items: center;
}

/* header text */
h1 {
  margin: 0.5rem;
  color: #ffffff;
  font-size: 3rem;
}

/* description text */
h3 {
  margin: 0.5rem;
  color: #ffffff;
}

.username {
  font-size: 30px;
}

img {
  width: 300px;
  border-radius: 50%;
  margin-block: 2em;
}

/* link to my github and repos */
a,
a:active {
  text-decoration: none;
}

a.nav-link,
a.nav-link:active {
  position: relative;
  color: black;
}

.section-projects {
  /* position: relative; */
}

.section-projects__container {
  padding: 2em 0;
  min-height: 100%;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: center;
  justify-items: center;
}

.section-projects__card {
  background: #f9f8ff;
  border-radius: 0.5em;
  width: 300px;
  padding: 1em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* chart */
.chart {
  max-height: 60vh;
}

@media screen and (min-width: 768px) {
  .chart {
  }
}
