:root{
  --purple: #7B6079;
  --orange:#DE8971;
  --card-background: rgba(255, 255, 255, 0.531);
}

*{
  box-sizing: border-box;
}

body {
  background-image: url(./img/background2.png);
  font-family: raleway;
  margin: 0;
  
}

h1 {
  margin-top: 0; 
  text-align: center;
  font-size: 34px;
  line-height: 40px;
  font-weight: 500;
  margin-block-end:0.4em;
  color: black;
}

h2 {
  color:black;
  margin-top: 0; 
  text-align: center;
  font-size: 34px;
  line-height: 40px;
  font-weight: 500;
}

p{
  font-weight: 400;
}



.main-container{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2vh;
}

.first-coloumn{
  text-align: center;
}

.profile-img{
  width: 70%;
  border-radius: 50%;
  border: 5px solid black;
  margin: 1vh auto;
  
}
.info-square{
  background: var(--card-background);
  border-radius: 10pt;
  padding: 2vh;
  width: 80%;
  margin: 1vh auto;
  border-left: 4px solid black;
  border-right: 4px solid black;
}

.chart-container{
  width: 100%;
  background-color: var(--card-background);;
  border-radius: 10pt;
  margin: 2vh auto;
  width: 250px;
}

.projects-grid {
  display: flex;
  flex-direction: column;
  
}

.project{
  background-color: var(--card-background);
  /* flex-direction: column;
  justify-content: left;
  align-items: flex-start; */
  padding: 2vh;
  border-radius: 12px;
  margin: 2vh auto;
  width:80%;
  border-left: 4px solid black;
  border-right: 4px solid black;
}


a{
  text-decoration: none;
  color: black;
}

a:hover {
  color: var(--orange);
  font-size: larger;
}

.footer{
  width: 100%;
  background-color: rgba(255, 255, 255, 0.564);
  height: auto;
  padding: 2vh;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  
}

@media (min-width: 1000px){

.main-container {
  max-width: 1800px;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.first-coloumn{
  text-align: center;
}
.profile-img{
  width: 80%;
  
}
.info-square{
  width: 100%;

}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin: 4vh 2rem 0 2rem;
  padding: 1vh 4vh 4vh 4vh;
  row-gap: 20px;
  grid-auto-rows: max-content;
  
}

.project{
  min-width:300px;
  margin: 0;
  width:100%;
}

}


