* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
body {
  background: #e2e7e8;
  font-family: "Oxygen", sans-serif;
}

.hero {
  background-image: url(./bakgrund.jpeg) ;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 5%;
}


main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-end;
}

.user-image {
  border-radius: 100%;
  width: 30%;
  margin-left: 20px;
}

.projects {
  color: green;
  display: inline-grid;
  grid-template-columns: 1fr;
  justify-items: center;
  
  
}
repocard {
  display: block;
  align-items: center;
  margin: 20, 20;
 
}
.repocard a {
  text-decoration: none;
  color: gray
}

a:hover {
  color: darkgreen;
}

