:root {
  --background: white;
  --borders: rgb(233, 255, 112);
  --attenion: rgb(255, 112, 166);
  --tags: rgb(255, 214, 112);
  --alternate-tags: rgb(255, 151, 112);
  --font: rgb(121 120 120);
  --theme-color: rgb(112, 214, 255);
  --theme-sub-color: #00cecb;
}

body {
  background: var(--background);
  color: var(--font);
}

a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  color: var(--attenion);
  cursor: pointer;
  font-size: 14px;
}

a:hover {
  color: var(--tags);
}

header,
.main-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.user-details {
  display: flex;
  left: 0;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 250px;
  align-items: center;
  margin-right: 45px;
}

.title {
  color: var(--theme-color);
  font-family: "Gluten", cursive;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 0;
  width: 250px;
  align-items: center;
  margin-right: 40px;
}

.user-name {
  color: var(--theme-sub-color);
  font-family: "Gluten", cursive;
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
  margin-top: 34px;
}

.avatar-container {
  max-width: 50px;
  max-height: 50px;
}

.avatar {
  border-radius: 100%;
  border: 2px solid transparent;
  border: 2px solid var(--borders);
  max-height: 50px;
  max-width: 50px;
}

.icon {
  width: 12px;
  height: 12px;
  opacity: 0.5;
}

.icon-bigger {
  width: 14px;
  height: 14px;
  opacity: 0.5;
}

.stats {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  margin-top: 10px;
}

.comments-button,
.to-top-btn {
  width: 80px;
  padding: 5px;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  margin-top: 20px;
}

.search-container {
  display: flex;
  flex-direction: row;
  margin-right: 21px;
}

.comments-button:hover,
.search:hover,
.to-top-btn:hover {
  color: var(--theme-sub-color);
}

.input {
  max-width: 300px;
  padding: 2px;
  height: 1.5rem;
  width: 200px;
  display: block;
  flex: 1 1 auto;
}

.input,
.search,
.comments-button,
.to-top-btn {
  background-color: white;
  cursor: pointer;
  border: 2px solid var(--theme-sub-color);
  font-family: "Lato", sans-serif;
  color: var(--alternate-tags);
  border-radius: 18px;
}

.search {
  padding: 5px;
  display: block;
  flex: 0 0 40px;
  margin-left: 6px;
}

.input:focus {
  outline: none;
}

.custom-input:focus {
  background-color: #eee;
}

.custom-input:focus:invalid {
  background-color: white;
  border: 2px solid var(--tags);
}

.custom-input:valid {
  background-color: white;
  color: var(--theme-sub-color);
}

.repo-heading {
  color: var(--alternate-tags);
  font-family: "Gluten", cursive;
  font-size: 18px;
  font-weight: 300;
}

.repo-list {
  margin-top: 40px;
}

.repos-stats {
  background: #fff;
  padding: 1rem;
  box-shadow: rgb(0 0 0 / 15%) 0px 0.1rem 0.5rem;
  margin-top: 10px;
  padding-top: 4px;
  width: 250px;
}

.chart {
  margin-top: 20px;
  max-width: 400px;
  max-height: 400px;
}

.to-top-btn {
  align-self: center;
  justify-self: center;
}

.comment-container {
  display: none;
  width: 250px;
  height: inherit;
  font-family: "Lato", sans-serif;
  font-size: 12px;
}

.comment-container.active {
  display: block;
}

.active {
  animation: active 1s;
}
@keyframes active {
  0% {
    display: none;
    transform: translate3d(0, -1rem, 0);
    opacity: 0;
  }
  1% {
    display: block;
    transform: translate3d(0, -1rem, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@media (min-width: 768px) {
  header {
    flex-direction: row;
  }
  .title {
    font-size: 60px;
    margin-right: -25px;
    margin-bottom: 0;
    align-items: center;
  }
  .user-details {
    margin-bottom: 10px;
    margin-right: -30px;
    flex-direction: column;
    margin-top: 50px;
  }
  .user-name {
    font-size: 22px;
    margin-top: 20px;
  }
  .avatar-container,
  .avatar {
    max-width: 70px;
    max-height: 70px;
  }
  .icon {
    width: 14px;
    height: 14px;
  }
  .icon-bigger {
    width: 16px;
    height: 16px;
  }
  .stats {
    font-size: 16px;
  }
  .comments-button,
  .to-top-btn {
    width: 100px;
    padding: 6px;
  }
  .search {
    max-width: 100px;
    width: 100px;
    font-size: 16px;
    padding: 0;
    flex: 0 0 100px;
    margin-left: -11px;
    height: 36px;
  }
  .input {
    height: 1.8rem;
    width: 290px;
    margin-right: 42px;
  }
  .search-container {
    margin-top: 50px;
    align-items: center;
    margin-right: 10px;
  }
  .repo-heading {
    font-size: 22px;
    font-weight: 400;
  }
  .repos-stats {
    width: 400px;
  }
  .to-top-btn,
  .comments-button {
    font-size: 16px;
    padding: 6px;
  }
  .comment-container {
    display: none;
    width: 400px;
    height: inherit;
    font-family: "Lato", sans-serif;
    font-size: 14px;
  }
  a {
    font-size: 16px;
  }
}
