/* TEXT STYLING */

h1 {
  margin: 0px;
  padding: 10px 50px;
  text-align: center;
  font-size: 4em;
}

h1, h2 {
  font-family: 'Stardos Stencil', cursive;
}

h2 {
  font-size: 2em;
  text-align: center;
  margin: 0px;
}

h3 {
  padding: 0px;
  margin: 0;
}

p {
  padding: 0px 5px;
  margin: 0;
}

a {
  color: black;
  font-size: 2em;
  text-align: center;
  text-decoration: none;
  line-height: 2.5em;
  text-transform:capitalize;

}

a:hover {
  color: #A1A88F;
  font-weight: bold;
  text-decoration-style: wavy;
  text-decoration-line:underline;
  text-decoration-color: #7785A1;
}

footer h1 {
  padding: 0px;
  margin: 0px;
}


/* CONTAINERS */
body {
  background: #ECE0D0;
  width: 100%;
  margin: 0px;
}

header {
  background-color: #A1A88F;
}

/* PROFILE */
.profile-container {
  display: grid;
  Grid-template-columns: 1fr 1fr;
  margin: 100px;
}

img {
  border-radius: 50%;
  width: 200px;
  grid-column: span 1;
}

profile-name {
  grid-column: span 1;
  justify-self: center;
  align-self: center;
}

/* PROJECTS */
.projects {
  display: grid;
  Grid-template-columns: 1fr;
  grid-gap: 20px;
  margin: 20px 50px;
}

.repos {
  border: 1px solid black;
  background-color: #CBD1D0;
  grid-column: span 1;
  grid-column-end: auto;
  padding: 5px;
}

.canvas {
  margin: 50px 100px;
}

footer{
  background-color:#A1A88F;
  margin-top: 30px;
  padding: 10px;
}


/* Mobile */
@media (min-width: 0px) and (max-width: 767px) {
  .not-break {
    display: none;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .break {
    display: none;
  }
  
  img {
    width: 300px;
  }

  h2 {

  }
  
  .projects {
    Grid-template-columns: 1fr 1fr;
  }

  .canvas {
    margin: 50px 200px;
  }
}

/* small laptop */
@media (min-width: 992px) {
  .break {
    display: none;
  }
  
  .profile-container {
    margin-right: 200px;
    margin-left: 200px;
  }

  img {
    width: 300px;
  }

  .canvas {
    margin: 50px 200px;
  }
  
  .projects {
    Grid-template-columns: 1fr 1fr 1fr;
  }
}
