:root {
    --fw-bold: 600; 
    --clr-light: rgb(87, 87, 87);;
    --clr-dark: #000;
}

h1 {
  font-size: 20px;
}

.body-wrapper {
  padding: 20px;
}

.header {
  background-color: #24292E;
  color: white;
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}

.header__image {
  background-color: white;
  width: 32px;
  height: 30px;
  border-radius: 50%;
  margin-right: 30px;
}

.hamburger-wrapper {
  margin-left: 30px;
}

.hamburger {
  background-color: white;
  display: block;
  border-radius: 10px;
  margin: 5px;
  width: 30px;
  height: 3px;
}

.aside__header {
  display: flex;
}

.aside__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}

.aside__title {
  margin-bottom: 0;
}

.aside__sub-title {
  margin-top: 0;
  color: rgb(87, 87, 87);
}

.aside__image {
  border: 1px solid var(--clr-dark);
  border-radius: 50%;
  width: 150px;
}

.aside-content__paragraph {
  margin: 0;
}

.aside-content__paragraph--top {
  margin: 30px 0 15px 0;
}

.aside-content__paragraph--grey {
  color: var(--clr-light);
}

.aside-content__paragraph--bold {
  color: var(--clr-dark);
  font-weight: var(--fw-bold);
}

.icons {
  width: 16px;
}

.icons-left {
  float: left;
  position: relative;
  margin: 3px 8px 0 0;
}

.links {
  color: var(--clr-dark);
  margin-left: 15px;
}

.links--hide {
  display: none;
}

.bold-link {
  font-weight: 600;
  border-bottom: 3px solid orange;
  padding: 9px;
}

.html-links {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
}

hr {
  margin: 8px 0 22px 0;
}

a {
  text-decoration: none;
}

.footer {
  margin: 30px 0;
}

.footer-flex {
  display: flex;
  font-size: 10px;
  align-items: center;
  list-style: none;
}

.footer__link {
  margin-right: 10px;
  color: #0E58CA;
}

.footer__link--hide {
  display: none;
}

.footer__icon {
  margin: 0 5px 0 10px;
  width: 20px;
}

@media (min-width: 560px) {
  .links {
    font-size: 15px;
  }

  .footer__text {
   margin-right: 30px;
  }

  .footer-flex {
    font-size: 14px;
  }

  .footer__link {
    margin-right: 50px;
  }

  .footer__link--hide {
    display: block;
  }

  .footer__icon {
    margin: 0 10px 0 20px;
  }

}

@media (min-width: 1024px) {
  .links--hide {
    display: inline-block;
  }
}
